@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
body {
    background-color: rgb(230, 201, 163);
    margin: 0;
    font-family: 'Roboto', sans-serif;
    width: 100%;
   }
  
 nav{
     display: flex;
     justify-content: space-between;
  
 }
  
  #overlay-button {
    position: fixed;
    right: 2em;
    top: 3em;
    padding: 26px 11px;
    z-index: 5;
    cursor: pointer;
    // user-select: none;
    span {
        height: 4px;
        width: 35px;
        border-radius: 2px;
        background-color: rgb(238, 5, 5);
        position: relative;
        display: block;
        transition: all .2s ease-in-out;
        &:before {
          top: -10px;
          visibility: visible;
        }
        &:after {
          top: 10px;
        }
        &:before, &:after {
            height: 4px;
            width: 35px;
            border-radius: 2px;
            background-color: rgb(223, 18, 18);
            position: absolute;
            content: "";
            transition: all .2s ease-in-out;
        }
      }
      &:hover span, &:hover span:before, &:hover span:after {
        background: #333332;
      }
  }
  
  input[type=checkbox] {
     display: none;
  }
  
  input[type=checkbox]:checked ~ #overlay {
    visibility: visible;
  }
  
  input[type=checkbox]:checked ~ #overlay-button {
    &:hover span, span{
      background: transparent;
    }
    span {
      &:before {
        transform: rotate(45deg) translate(7px, 7px);
        opacity: 1;
      }
      &:after {
        transform: rotate(-45deg) translate(7px, -7px);
      }
    }
  }
  
  #overlay {
    
    padding-bottom: 10px;
     height: 25vh;
    width: 100vw;
    background: #e47c6f;
    z-index: 2;
    visibility: hidden;
    position: fixed;
    
    
    &.active {
      visibility: visible;
    }
    ul {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
      text-align: center;
      height: 100vh;
      padding-left: 0;
      
     
      list-style-type: none;
      li {
        padding: 1em;
        a {
          color: white;
          text-decoration: none;
          font-size: 1.5em;
          &:hover {
            color: #333332;
          }
        }
      }
    }
  }
.background-img{
  
     height: 100vh;
    background-image: url(./img/quinton-coetzee-u-n1AFjUclo-unsplash.jpg);
    opacity: 0.8;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;

}
#about{
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
background-image: url(./img/liana-mikah-RisZkNn4Z5Q-unsplash.jpg);
background-size: cover;
    .article{
    margin:20px ;
    visibility: hidden;
   
    }
    .profil{
        display: flex;
        justify-content: center;
        align-items: center;
        i{
        font-size: 400px;
        color: rgb(54, 138, 138);
        
         }
      
        &:hover ~ .article{
            visibility: visible;
            background:  white ;
            font-weight: bolder;
            opacity: 0.6;
       }
   // make  box shadow with hover and animation 
        
    }

}
#my-skills{
    height: 100vh;
    background-image: url(./img/raychan-e_J7i3eQEfo-unsplash.jpg);
    background-repeat: no-repeat;
   
    background-size: cover;
    display: grid;
    grid-template-columns: 32px auto;
    grid-template-rows: repeat(7,auto);
    color: black;
    font-size: 32px;
    padding-left: 10px;
    div {
        width: 90%;
        border: 1px solid white;
        margin: 5px 0;
        height: 25px;
        border-radius: 25px;
    }
    .fa-html5{
        color: tomato;
    }
    .html{
        background:linear-gradient(to  right, rgb(170, 98, 98), rgb(155, 3, 3) 95%, transparent 10%);
    }
    .fa-css3{
        color: blue;
    }
    .css{
        background:linear-gradient(to  right, rgb(107, 120, 194), rgb(15, 3, 128) 85%, transparent 15%);
    }
    .fa-sass{
        color: rgb(192, 38, 115);
    }
    .sass{
        background:linear-gradient(to  right, rgb(219, 160, 216), rgb(180, 8, 129) 80%, transparent 15%);
    }
    .fa-js{
        color: rgb(182, 164, 3);
    }
    .js{
        background:linear-gradient(to  right, rgb(201, 200, 144), rgb(230, 214, 2) 80%, transparent 13%);
    }
    .fa-node-js{
        color: green;
    }
    .node-js{
        background:linear-gradient(to  right, rgb(141, 190, 112), rgb(10, 196, 3) 75%, transparent 7%);
    }
    .fa-react{
        color: turquoise;
    }
    .react{
        background:linear-gradient(to  right, rgb(112, 185, 190), rgb(3, 179, 223) 85%, transparent 7%);
    }
    .fa-bootstrap{
        color: purple;
    }
    .bootstrap{
        background:linear-gradient(to  right, rgb(161, 112, 190), rgb(163, 8, 202) 90%, transparent 7%);
    }
    // animation ekle

}



  @media screen and (min-width:767px){
     #overlay-button {
        //   löschen before
          visibility: hidden;   
      }
    #overlay {
        visibility: visible;
        height: 50px;
        
        ul{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
           

        }
    }
    #about{
       flex-direction: row;
       align-items: space-around;
        .profil{
            margin-left: 20px;
           
            &:hover ~ .article{
                visibility:visible;
                background:  white ;
                font-weight: bolder;
                opacity: 0.6;
           }
        }

    }
}