@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@-webkit-keyframes expandBar {
  from {
    width: 0px;
  }
  to {
    width: width;
  }
}
@keyframes expandBar {
  from {
    width: 0px;
  }
  to {
    width: width;
  }
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::-webkit-scrollbar {
  width: 0;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: transparent;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#overlay-button {
  position: fixed;
  right: 2em;
  top: 3em;
  padding: 26px 11px;
  z-index: 2;
  cursor: pointer;
}

#overlay-button span {
  height: 4px;
  width: 35px;
  border-radius: 2px;
  background-color: #ee0505;
  position: relative;
  display: block;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

#overlay-button span:before {
  top: -10px;
  visibility: visible;
}

#overlay-button span:after {
  top: 10px;
}

#overlay-button span:before, #overlay-button span:after {
  height: 4px;
  width: 35px;
  border-radius: 2px;
  background-color: #df1212;
  position: absolute;
  content: "";
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

#overlay-button:hover span, #overlay-button:hover span:before, #overlay-button:hover span:after {
  background: #ffffff;
}

input[type=checkbox] {
  display: none;
}

input[type=checkbox]:checked ~ #overlay {
  visibility: visible;
}

input[type=checkbox]:checked ~ #overlay-button:hover span, input[type=checkbox]:checked ~ #overlay-button span {
  background: transparent;
}

input[type=checkbox]:checked ~ #overlay-button span:before {
  -webkit-transform: rotate(45deg) translate(7px, 7px);
          transform: rotate(45deg) translate(7px, 7px);
  opacity: 1;
}

input[type=checkbox]:checked ~ #overlay-button span:after {
  -webkit-transform: rotate(-45deg) translate(7px, -7px);
          transform: rotate(-45deg) translate(7px, -7px);
}

#overlay {
  padding-bottom: 10px;
  height: 250px;
  width: 100vw;
  background: #e98d8d;
  z-index: 1;
  visibility: hidden;
  position: fixed;
}

#overlay.active {
  visibility: visible;
}

#overlay ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  height: 100vh;
  padding-left: 0;
  list-style-type: none;
}

#overlay ul li {
  padding: 1em;
}

#overlay ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.5em;
}

#overlay ul li a:hover {
  color: #333332;
}

.background-img {
  font-size: 28px;
  height: 100vh;
  background-image: url(./img/quinton-coetzee-u-n1AFjUclo-unsplash.jpg);
  opacity: 0.8;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
}

.background-img h1 {
  font-size: 48px;
}

.background-img span {
  color: lightseagreen;
}

.slide-in-elliptic-right-bck {
  -webkit-animation: slide-in-elliptic-right-bck 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: slide-in-elliptic-right-bck 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-in-elliptic-right-bck {
  0% {
    -webkit-transform: translateX(800px) rotateY(30deg) scale(6.5);
            transform: translateX(800px) rotateY(30deg) scale(6.5);
    -webkit-transform-origin: -100% 50%;
            transform-origin: -100% 50%;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotateY(0) scale(1);
            transform: translateX(0) rotateY(0) scale(1);
    -webkit-transform-origin: 600px 50%;
            transform-origin: 600px 50%;
    opacity: 1;
  }
}

@keyframes slide-in-elliptic-right-bck {
  0% {
    -webkit-transform: translateX(800px) rotateY(30deg) scale(6.5);
            transform: translateX(800px) rotateY(30deg) scale(6.5);
    -webkit-transform-origin: -100% 50%;
            transform-origin: -100% 50%;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotateY(0) scale(1);
            transform: translateX(0) rotateY(0) scale(1);
    -webkit-transform-origin: 600px 50%;
            transform-origin: 600px 50%;
    opacity: 1;
  }
}

.focus-in-contract-bck {
  -webkit-animation: focus-in-contract-bck 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: focus-in-contract-bck 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes focus-in-contract-bck {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(300px);
            transform: translateZ(300px);
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(12px);
            transform: translateZ(12px);
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}

@keyframes focus-in-contract-bck {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(300px);
            transform: translateZ(300px);
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(12px);
            transform: translateZ(12px);
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}

#about {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: url(./img/liana-mikah-RisZkNn4Z5Q-unsplash.jpg);
  background-size: cover;
}

#about .article {
  margin: 20px;
  background: white;
  font-weight: bolder;
  opacity: 0.6;
  padding: 10px;
}

#about .profil {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#about .profil i {
  font-size: 400px;
  color: #368a8a;
}

#my-skills {
  height: 110vh;
  background-image: url(./img/raychan-e_J7i3eQEfo-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 32px auto;
      grid-template-columns: 32px auto;
  -ms-grid-rows: (auto)[7];
      grid-template-rows: repeat(7, auto);
  color: black;
  font-size: 32px;
  padding-left: 10px;
}

#my-skills div {
  width: 90%;
  border: 1px solid white;
  margin: 5px 0;
  height: 25px;
  border-radius: 25px;
}

#my-skills .fa-html5 {
  color: tomato;
}

#my-skills .html {
  background: -webkit-gradient(linear, left top, right top, from(#aa6262), color-stop(95%, #9b0303), color-stop(10%, transparent));
  background: linear-gradient(to right, #aa6262, #9b0303 95%, transparent 10%);
  -webkit-animation-name: expandBar;
          animation-name: expandBar;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

.fa-css3 {
  color: blue;
}

.css {
  background: -webkit-gradient(linear, left top, right top, from(#6b78c2), color-stop(85%, #0f0380), color-stop(15%, transparent));
  background: linear-gradient(to right, #6b78c2, #0f0380 85%, transparent 15%);
  -webkit-animation-name: expandBar;
          animation-name: expandBar;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

.fa-sass {
  color: #c02673;
}

.sass {
  background: -webkit-gradient(linear, left top, right top, from(#dba0d8), color-stop(80%, #b40881), color-stop(15%, transparent));
  background: linear-gradient(to right, #dba0d8, #b40881 80%, transparent 15%);
  -webkit-animation-name: expandBar;
          animation-name: expandBar;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

.fa-js {
  color: #b6a403;
}

.js {
  background: -webkit-gradient(linear, left top, right top, from(#c9c890), color-stop(80%, #e6d602), color-stop(13%, transparent));
  background: linear-gradient(to right, #c9c890, #e6d602 80%, transparent 13%);
  -webkit-animation-name: expandBar;
          animation-name: expandBar;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

.fa-node-js {
  color: green;
}

.node-js {
  background: -webkit-gradient(linear, left top, right top, from(#8dbe70), color-stop(75%, #0ac403), color-stop(7%, transparent));
  background: linear-gradient(to right, #8dbe70, #0ac403 75%, transparent 7%);
  -webkit-animation-name: expandBar;
          animation-name: expandBar;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

.fa-react {
  color: turquoise;
}

.react {
  background: -webkit-gradient(linear, left top, right top, from(#70b9be), color-stop(85%, #03b3df), color-stop(7%, transparent));
  background: linear-gradient(to right, #70b9be, #03b3df 85%, transparent 7%);
  -webkit-animation-name: expandBar;
          animation-name: expandBar;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

.fa-bootstrap {
  color: purple;
}

.bootstrap {
  background: -webkit-gradient(linear, left top, right top, from(#a170be), color-stop(90%, #a308ca), color-stop(7%, transparent));
  background: linear-gradient(to right, #a170be, #a308ca 90%, transparent 7%);
  -webkit-animation-name: expandBar;
          animation-name: expandBar;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

#my-projects {
  height: 170vh;
  font-size: 2em;
  background-color: #b99999;
}

#my-projects .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 20px;
}

#my-projects .cards .card {
  background-color: #ace0e9;
  margin: 20px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  width: 70%;
  border-radius: 5px;
  font-size: 12px;
}

#my-projects .cards .card img {
  border-radius: 5px 5px 0 0;
  width: 100%;
  height: 200px;
}

#my-projects .cards .card:hover {
  -webkit-box-shadow: 15px 8px 16px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 15px 8px 16px 0 rgba(0, 0, 0, 0.2);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#my-projects .cards .card .project-info {
  position: relative;
  padding: 10px;
  height: 110px;
}

#my-projects .cards .card .project-info a {
  position: absolute;
  bottom: 5px;
  right: 5px;
  text-decoration: none;
  background-color: blue;
  width: 50px;
  color: white;
  border-radius: 3px;
  padding: 5px;
}

#my-projects .cards .card .linear-color {
  width: 80%;
  height: 8px;
  border: 1px solid black;
  border-radius: 20px;
  margin-bottom: 10px;
}

#my-projects .cards .card .css-punkt {
  position: absolute;
  background-color: purple;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  top: 58%;
  left: 15%;
}

#my-projects .cards .card .html-punkt {
  position: absolute;
  bottom: 16%;
  left: 15%;
  background-color: red;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

#my-projects .cards .card .lc-1 {
  background: -webkit-gradient(linear, left top, right top, color-stop(54%, purple), color-stop(46%, red));
  background: linear-gradient(to right, purple 54%, red 46%);
}

#my-projects .cards .card .lc-2 {
  background: -webkit-gradient(linear, left top, right top, color-stop(58%, purple), color-stop(42%, red));
  background: linear-gradient(to right, purple 58%, red 42%);
}

#my-projects .cards .card .lc-3 {
  background: -webkit-gradient(linear, left top, right top, color-stop(59%, purple), color-stop(41%, red));
  background: linear-gradient(to right, purple 59%, red 41%);
}

#contact {
  padding-left: 20px;
}

#contact h2 {
  font-size: 2em;
}

#contact form {
  width: 70%;
  padding: 10px;
}

#contact form input[type=text], #contact form input[type=email], #contact form select, #contact form textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

#contact form input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#contact form input[type=submit]:hover {
  background-color: #45a049;
}

#contact form .contact-form {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

footer {
  background: #666;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 55px 50px;
}

footer h3 {
  color: #ffffff;
  font: normal 36px 'Open Sans', cursive;
  margin: 0;
}

footer h3 span {
  color: lightseagreen;
}

footer .footer-about {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

footer .footer-about span {
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

footer .footer-left {
  display: inline-block;
  vertical-align: top;
  width: 40%;
}

footer .footer-left .footer-links {
  color: #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

footer .footer-left .footer-links a {
  display: inline-block;
  line-height: 1.8;
  font-weight: 400;
  text-decoration: none;
  color: inherit;
}

footer .footer-left .footer-links a:before {
  content: "|";
  font-weight: 300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

footer .footer-left .footer-links .link-1:before {
  content: none;
}

footer .footer-left .footer-name {
  color: #222;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

footer .footer-center {
  display: inline-block;
  vertical-align: top;
  width: 35%;
}

footer .footer-center i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

footer .footer-center i:hover {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
}

footer .footer-center .fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

footer .footer-center p {
  display: inline-block;
  color: #ffffff;
  font-weight: 400;
  vertical-align: middle;
  margin: 0;
}

footer .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

footer .footer-center p a {
  color: lightseagreen;
  text-decoration: none;
}

footer .footer-right {
  display: inline-block;
  vertical-align: top;
  width: 20%;
}

footer .footer-right .footer-icons {
  margin-top: 25px;
}

footer .footer-right .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #4d5b64;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px;
}

footer .footer-right .footer-icons a:hover {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
}

@media (max-width: 767px) {
  footer {
    font: bold 16px sans-serif;
  }
  footer .footer-center {
    width: auto;
  }
  footer .footer-left,
  footer,
  footer .footer-right {
    display: block;
    width: 100%;
    text-align: center;
  }
  footer .footer-center p {
    width: 100%;
  }
  footer .footer-center i {
    margin-left: 0;
    color: white;
    font-size: 24px;
  }
  footer .footer-center i:hover {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
  }
}

@media (min-width: 767px) {
  .background-img {
    z-index: 1;
    width: 90%;
    margin-left: 10%;
  }
  main {
    max-width: 1200px;
    margin: 0 auto;
  }
  *::-webkit-scrollbar {
    width: 16px;
  }
  *::-webkit-scrollbar-track {
    background: #e98d8d;
    border-radius: 20px;
  }
  *::-webkit-scrollbar-thumb {
    background: -webkit-gradient(linear, left top, left bottom, from(black), color-stop(white), to(black));
    background: linear-gradient(to bottom, black, white, black);
    border-radius: 25px;
  }
  #overlay-button {
    visibility: hidden;
  }
  #overlay-button span {
    display: none;
  }
  #overlay {
    visibility: visible;
    width: 10%;
    height: 100%;
    z-index: 2;
  }
  #about {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: space-around;
        -ms-flex-align: space-around;
            align-items: space-around;
  }
  #about .profil {
    margin-left: 20px;
  }
  #my-projects {
    height: 100vh;
  }
  #my-projects .cards {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #my-projects .cards .card {
    width: 33%;
    margin: 20px;
  }
  footer {
    width: 90%;
    margin-left: 10%;
  }
}
/*# sourceMappingURL=style.css.map */