@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    
    margin: 0;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    box-sizing: border-box;
   
   }
   *::-webkit-scrollbar {
    width: 0;
  }
  
  *::-webkit-scrollbar-track {
    background:transparent;
  }
  
  *::-webkit-scrollbar-thumb {
    background: transparent;
    
  }
  
  
 nav{
     display: flex;
     justify-content: space-between;
  
 }
  
  #overlay-button {
    position: fixed;
    right: 2em;
    top: 3em;
    padding: 26px 11px;
    z-index: 5;
    cursor: pointer;
    // user-select: none;
    span {
        height: 4px;
        width: 35px;
        border-radius: 2px;
        background-color: rgb(238, 5, 5);
        position: relative;
        display: block;
        transition: all .2s ease-in-out;
        &:before {
          top: -10px;
          visibility: visible;
        }
        &:after {
          top: 10px;
        }
        &:before, &:after {
            height: 4px;
            width: 35px;
            border-radius: 2px;
            background-color: rgb(223, 18, 18);
            position: absolute;
            content: "";
            transition: all .2s ease-in-out;
        }
      }
      &:hover span, &:hover span:before, &:hover span:after {
        background: #ffffff;
      }
  }
  
  input[type=checkbox] {
     display: none;
  }
  
  input[type=checkbox]:checked ~ #overlay {
    visibility: visible;
  }
  
  input[type=checkbox]:checked ~ #overlay-button {
    &:hover span, span{
      background: transparent;
    }
    span {
      &:before {
        transform: rotate(45deg) translate(7px, 7px);
        opacity: 1;
      }
      &:after {
        transform: rotate(-45deg) translate(7px, -7px);
      }
    }
  }
  
  #overlay {
    
    padding-bottom: 10px;
     height: 25vh;
    width: 100vw;
    background: #e98d8d;
    z-index: 2;
    visibility: hidden;
    position: fixed;
    
    
    &.active {
      visibility: visible;
    }
    ul {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
      text-align: center;
      height: 100vh;
      padding-left: 0;
      
     
      list-style-type: none;
      li {
        padding: 1em;
        a {
          color: white;
          text-decoration: none;
          font-size: 1.5em;
          &:hover {
            color: #333332;
          }
        }
      }
    }
  }
.background-img{
  
     height: 100vh;
    background-image: url(./img/quinton-coetzee-u-n1AFjUclo-unsplash.jpg);
    opacity: 0.8;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;

}

#about{
  
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
background-image: url(./img/liana-mikah-RisZkNn4Z5Q-unsplash.jpg);
background-size: cover;
    .article{
    margin:20px ;
    background:  white ;
    font-weight: bolder;
    opacity: 0.6;
    padding: 10px;
    
   
    }
    .profil{
        display: flex;
        justify-content: center;
        align-items: center;
        i{
        font-size: 400px;
        color: rgb(54, 138, 138);
        
         }
      
        
   // make  box shadow with hover and animation 
        
    }

}
#my-skills{
    height: 110vh;
    background-image: url(./img/raychan-e_J7i3eQEfo-unsplash.jpg);
    background-repeat: no-repeat;
   
    background-size: cover;
    display: grid;
    grid-template-columns: 32px auto;
    grid-template-rows: repeat(7,auto);
    color: black;
    font-size: 32px;
    padding-left: 10px;
    div {
        width: 90%;
        border: 1px solid white;
        margin: 5px 0;
        height: 25px;
        border-radius: 25px;
    }
    .fa-html5{
        color: tomato;
    }
    .html{
        background:linear-gradient(to  right, rgb(170, 98, 98), rgb(155, 3, 3) 95%, transparent 10%);
    }
    .fa-css3{
        color: blue;
    }
    .css{
        background:linear-gradient(to  right, rgb(107, 120, 194), rgb(15, 3, 128) 85%, transparent 15%);
    }
    .fa-sass{
        color: rgb(192, 38, 115);
    }
    .sass{
        background:linear-gradient(to  right, rgb(219, 160, 216), rgb(180, 8, 129) 80%, transparent 15%);
    }
    .fa-js{
        color: rgb(182, 164, 3);
    }
    .js{
        background:linear-gradient(to  right, rgb(201, 200, 144), rgb(230, 214, 2) 80%, transparent 13%);
    }
    .fa-node-js{
        color: green;
    }
    .node-js{
        background:linear-gradient(to  right, rgb(141, 190, 112), rgb(10, 196, 3) 75%, transparent 7%);
    }
    .fa-react{
        color: turquoise;
    }
    .react{
        background:linear-gradient(to  right, rgb(112, 185, 190), rgb(3, 179, 223) 85%, transparent 7%);
    }
    .fa-bootstrap{
        color: purple;
    }
    .bootstrap{
        background:linear-gradient(to  right, rgb(161, 112, 190), rgb(163, 8, 202) 90%, transparent 7%);
    }
    // animation ekle

}

#my-projects {
  height: 170vh;
  font-size: 2em;
  background-color: rgb(185, 153, 153);
  .cards{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  padding-left: 20px;


  .card {
  background-color: rgb(172, 224, 233);
  margin: 20px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 70%;
  
  border-radius: 5px;
  font-size: 12px;
  img {
  border-radius: 5px 5px 0 0;
  width: 100%;
 }
 &:hover {
  box-shadow: 15px 8px 16px 0 rgba(0,0,0,0.2);
  transform: scale(1.1);
 } 
 .project-info{
   position: relative;
   padding: 10px;
  
   a {
     position: absolute;
     bottom: 5px;
     right: 5px;
     text-decoration: none;
     background-color: blue;
     width: 50px;
     color: white;
     border-radius: 3px;
     padding: 5px;
   }
 }
.linear-color {
  
  width: 80%;
  height: 8px;
  border: 1px solid black;
  border-radius: 20px;
  margin-bottom: 10px;
}
.css-punkt{
  position: absolute;
  background-color: purple;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  top: 58%;
  left: 15%;
}
.html-punkt{
  position: absolute;
  bottom: 16%;
  left: 15%;
  background-color: red;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
  .lc-1{
  background:linear-gradient(to  right, purple 54%,red 46%);
  }
  .lc-2{
  background:linear-gradient(to  right, purple 58%,red 42%);
  }
  .lc-3{
    background:linear-gradient(to  right, purple 59%,red 41%);
    }
 }
}
 
}

#contact{
  padding-left:20px ;
  h2{
    font-size: 2em;
  }
  form{
    width: 70%;
    padding: 10px;
  
  input[type=text],input[type=email], select, textarea {
    width:100% ; 
    padding: 12px;  
    border: 1px solid #ccc; 
    border-radius: 4px; 
    margin-top: 6px; 
    margin-bottom: 16px;
    resize: vertical 
  }
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    &:hover {
    background-color: #45a049;
  }
  
}
.contact-form {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
   }
  }
}
footer{
	background: #666;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 55px 50px;
  h3{
    color:  #ffffff;
    font: normal 36px 'Open Sans', cursive;
    margin: 0;
    span{
      color:  lightseagreen;
    }

  }
  .footer-about{
    line-height: 20px;
    color:  #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
    span{
      display: block;
      color:  #ffffff;
      font-size: 14px;
      font-weight: bold;
      margin-bottom: 20px;
    }

  }
  

  .footer-left{
    display: inline-block;
    vertical-align: top;
    width: 40%;
    .footer-links{
      color:  #ffffff;
      margin: 20px 0 12px;
      padding: 0;
      a{
        display:inline-block;
        line-height: 1.8;
        font-weight:400;
        text-decoration: none;
        color:  inherit;
        &:before {
          content: "|";
          font-weight:300;
          font-size: 20px;
          left: 0;
          color: #fff;
          display: inline-block;
          padding-right: 5px;
        }
      }
      .link-1{
        &:before {
        content: none;
      }}
    }
    .footer-name{
      color:  #222;
      font-size: 14px;
      font-weight: normal;
      margin: 0;
    }


  }


 .footer-center{
	display: inline-block;
	vertical-align: top;
  width: 35%;
  i{
    background-color:  #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
    &:hover{
      transform: scale(1.4) ;
        }
  }
  .fa-envelope{
    font-size: 17px;
    line-height: 38px;
  }
  p{
    display: inline-block;
    color: #ffffff;
    font-weight:400;
    vertical-align: middle;
    margin:0;
    span{
      display:block;
      font-weight: normal;
      font-size:14px;
      line-height:2;
    }
    a{
      color:  lightseagreen;
      text-decoration: none;;
    }
  }

}
 .footer-right{
	display: inline-block;
	vertical-align: top;
  width: 20%;
  .footer-icons{
    margin-top: 25px;
    a{
      display: inline-block;
      width: 35px;
      height: 35px;
      cursor: pointer;
      background-color:  #4d5b64;
      border-radius: 2px;
    
      font-size: 20px;
      color: #ffffff;
      text-align: center;
      line-height: 35px;
    
      margin-right: 3px;
      margin-bottom: 5px;
      &:hover{
        transform: scale(1.4) ;
          }
    }
  
  }

}


}
@media (max-width: 767px) {

	footer{
		font: bold 16px sans-serif;
    .footer-center{
      width: auto;
    }

	}

	footer .footer-left,
	footer,
	footer .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	footer .footer-center {
    p{
      width: 100%;
    }
  i{
		margin-left: 0;
    color: white;
    font-size: 24px;
      &:hover{
        transform: scale(1.4) ;
          }
	}
  }

}


   
 







  @media (min-width:767px){

    main{
      max-width: 1200px;
      margin: 0 auto
      
    }
    *::-webkit-scrollbar {
      width: 16px;
    }
    
    *::-webkit-scrollbar-track {
      background:#e98d8d;
      border-radius: 20px;
    }
    
    *::-webkit-scrollbar-thumb {
      background: linear-gradient(to bottom, black,white,black);
      border-radius: 25px;
    }
     #overlay-button, {
       
          visibility: hidden;  
      span{
        display: none;
      }
      }
    #overlay {
        visibility: visible;
        width: 180px;
        height: 100%;
        z-index: 1;
        
       
    }
    #about{
       flex-direction: row;
       align-items: space-around;
        .profil{
            margin-left: 20px;
       
            &:hover ~ .article{
                 visibility:visible;
                 background:  white ;
                 font-weight: bolder;
                 opacity: 0.6;
            }
        }

    }
    #my-projects{
      height: 100vh;
      .cards{
        flex-direction: row;
      .card{
        width: 33%;
        margin: 20px;
      }

      
    }
  }
  footer {





  }

}